.container-fluid{
    width: 100%;
    height: 10%;
}

.form-input{
    border-radius: 5px;
    border-color: #6f42c1;
    border-width: 1px;
}

.form-size{
    margin: 2% 0% 2%;
}

.text-area-resize{
    resize: none;
    height: 38px;
}

.row-mrg{
    margin-top: 2%;
}

.row-mrg-text{
    margin-right: 2%;
}