<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="ru">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:insert="nav_bar :: nav_bar"></div>

<div class="container jumbotron">
    <div>Страница регистрации</div>
    <div th:if="${message != null}" th:text="${message}" style="color: red"></div>
    <form method="post" action="registration" th:object="${user}">
        <div>
            <label>Login:
                <input type="text" th:field="*{username}" name="username" placeholder="login">
                <span class="validationError" style="color: red"
                      th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}">Login Error</span>
            </label>
            <br/>
        </div>
        <div><label >Password:
            <input type="text" th:field="*{password}" name="password" placeholder="password">
            <span class="validationError" style="color: red"
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}">Password Error</span>
        </label></div>
        <div><label >Email:
            <input type="email" th:field="*{email}" name="email" placeholder="email">
            <span class="validationError" style="color:red;"
                  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}">Email error</span>
        </label></div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div><div><input type="submit" class="btn btn-outline-primary" value="Registration"/></div></div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

